body{
    background-color: rgb(57, 142, 182);
}
/* .popbox {
    background-color: #f1f1f1;
        width: 550px;
        height: auto;
        padding: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 5px;
        font-family: "poppins", sans-serif;
}
.pop-header{
    height: 60px;
    background-color: black;
} */